<table>
  <caption>
    Users
  </caption>
  <tr>
    <th>name</th>
    <th>Last name</th>
    <th>Fiscal Code</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Province</th>
    <th>Age</th>
    <th>ACTIONS</th>
  </tr>
  <!--  <tr *ngFor="let user of users">
    <td>{{ user.name }}</td>
    <td>{{ user.lastname }}</td>
    <td>{{ user.fiscalcode }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.phone }}</td>
    <td>{{ user.province }}</td>
    <td>{{ user.age }}</td>
  </tr>
-->
  <tr
    app-user
    *ngFor="let user of users"
    [user-data]="user"
    (onSelectUser)="onSelectUser($event)"
    (onDeleteUser)="onDeleteUser($event)"
  ></tr>
</table>
