<h2>
  {{ 'users mAnAGEment SySTeM' | titlecase }}
  {{ '(ums)' | uppercase }}
</h2>
<a href="#" (click)="newUser()">{{ 'New User' | lowercase }}</a>
<p>{{ 'the quick brown fox jumped over the lazy doing' | ucfirst }}</p>
<div class="main">
  <div class="users">
    <app-users
      (updateUser)="event_updateUser($event)"
      (annullaUserDetail)="event_annullaUserDetail()"
    ></app-users>
  </div>

  <div class="userDetail" *ngIf="showForm">
    <app-user-detail [user]="userSelected"></app-user-detail>
  </div>
</div>
